#main-component {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #19232d;
    font-family: "SFMonoRegular", "cwTeXKai";
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;

    * {

        input,
        textarea,
        button {
            font-family: "SFMonoRegular", "cwTeXKai";
        }
    }

    .wrapper {
        width: 75%;
        height: calc(100% - 60px);
        float: left;
    }

    .panel {
        position: relative;
        float: right;
        width: 25%;
        height: calc(100% - 60px);
        background-color: #5a6a7a;
        z-index: 100;
        font-family: "SFMonoRegular", "cwTeXKai";

        .panel-tilte {
            width: 100%;
            text-align: center;
            color: #f5f5f5;
            font-size: 25px;
            font-weight: bold;
            background: #5a6a7a;

            p {
                margin: 10px 0px 10px 0px;
            }
        }

        #panel-search {
            width: 100%;
            height: 30px;
            padding: 5px 0px 5px 0px;
            background: #6a7887;

            label {
                margin-left: 15px;
            }

            .fa-search {
                color: #f5f5f5;
            }

            input {
                width: calc(100% - 45px);
                margin-left: 5px;
                padding: 10px 0px 5px 5px;
                border: none;
                color: #f5f5f5;
                background: #6a7887;
            }

            input::placeholder {
                color: #f5f5f5;
            }

            input:focus {
                outline: none;
                background: #85909c;
            }
        }

        .bottom-bar {
            button {
                width: 100%;
                background: #5a6a7a;
            }
        }

        .members {
            height: calc(100% - 75px);
            overflow-x: hidden;
            overflow-y: scroll;

            .contact {
                width: 100%;
                height: 45px;
                padding: 10px 0px 10px 0px;
            }

            .contact:hover {
                background-color: #435f7a;
                cursor: pointer;
                opacity: 1;
            }


            .meta {
                .name {
                    float: left;
                    font-size: 14.5px;
                    width: 75%;
                    color: white;
                    overflow: hidden;
                    word-break: keep-all;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .preview {
                    float: left;
                    font-size: 14px;
                    width: 75%;
                    height: 30px;
                    color: white;
                    overflow: hidden;
                    margin-top: 5px;
                    word-break: keep-all;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .members::-webkit-scrollbar {
            width: 5px;
        }

        .members::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 10px;
        }

        .members::-webkit-scrollbar-track {
            background-color: #687e94;
        }
    }

    .messages {
        .message-author {
            height: 40px;

            .avatar {
                width: 33px;
                height: 33px;
                margin: 8px;
                border-radius: 50%;
            }
        }

        .message-content {
            position: relative;
            top: -20px;

            @media screen and (min-width: 735px) {
                .message-box {
                    max-width: 400px;
                }
            }

            .message-box {
                position: relative;
                display: block;
                bottom: 0px;
                margin-bottom: 15px;
                padding: 13px 13px;
                border-radius: 20px;
                line-height: 130%;
                word-break: break-all;

                a {
                    text-decoration: none;
                    color: #00b0f4;
                    font-weight: bolder;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .attachment {
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                pointer-events: none;

                * {
                    pointer-events: all;
                }

                li {
                    margin: 0 !important;
                }

                .images {
                    .message-box {
                        margin-top: 0;
                        max-width: 200px;
                        padding-bottom: 0px;

                        img {
                            max-width: 200px;
                            height: auto;
                            margin-top: 0;
                            margin-bottom: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .files {
                    width: auto;

                    img {
                        width: 60px;
                    }

                    a {
                        width: 100%;
                        font-size: 16px;
                    }

                    p {
                        width: 100%;
                        margin: 0;
                        white-space: nowrap;
                    }

                    .fa-download {
                        color: unset;
                        position: absolute;
                        font-size: 24px;
                        bottom: 10px;
                    }

                    .fa-download:hover {
                        text-decoration: none;
                    }
                }
            }

            .code {
                button {
                    position: relative;
                    top: 25px;
                    font-size: 16px;
                    font-weight: bold;
                    color: red;
                    background: transparent;
                    border: 0px;
                    cursor: pointer;
                }

                button:hover {
                    color: #00B0F4;
                }

                button:focus {
                    outline: none;
                }
            }

            .ejs-applied {
                * {
                    margin-top: 10px;
                }

                video {
                    background-color: black;
                }

                video,
                iframe {
                    width: 400px;
                    height: 225px;
                }

                .ejs-thumb {
                    height: 200px;
                    background-size: cover;
                    background-position: 50%;
                    display: flex;

                    span {
                        justify-content: center;
                        align-items: center;
                        flex: 1;
                        display: flex;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                img {
                    max-width: 400px;
                    height: auto;
                }

                .ec {
                    font-size: 30px;
                }
            }

        }

        .sent {
            .message-author {

                .avatar,
                span {
                    float: right;
                }
            }

            .message-box {
                float: right;
                background: #435f7a;
                color: #f5f5f5;
            }

            .attachment {
                right: 20px;

                .files {
                    img {
                        float: right;
                        margin-left: 10px;
                    }

                    p {
                        text-align: right;
                    }

                    .fa-download {
                        left: 15px;
                    }

                    .fa-download:hover {
                        color: #b3bbc1;
                    }
                }
            }

            .code {
                button {
                    float: right;
                }
            }
        }

        .replies {
            .message-author {

                .avatar,
                span {
                    float: left;
                }
            }

            .message-box {
                float: left;
                background: #f5f5f5;
            }

            .attachment {
                left: 45px;

                .files {
                    img {
                        float: left;
                        margin-right: 10px;
                    }

                    .fa-download {
                        text-align: right;
                        right: 10px;
                    }

                    .fa-download:hover {
                        color: #57789a;
                    }
                }
            }

            .code button {
                float: left;
            }
        }
    }


    .bottom-bar {
        position: absolute;
        width: 100%;
        bottom: 0;

        @media screen and (max-width: 735px) {
            button {
                float: none;
                width: 100%;
                padding: 15px 0;

                i {
                    font-size: 1.3em;
                }

                span {
                    display: none;
                }
            }

            button:nth-child(1) {
                border-right: none;
                border-bottom: 1px solid #2c3e50;
            }
        }

        button {
            float: left;
            border: none;
            width: 50%;
            padding: 10px 0;
            background: #2c3e50;
            color: #f5f5f5;
            cursor: pointer;
            font-size: 0.85em;

            i {
                margin-right: 3px;
                font-size: 1em;
            }
        }

        button:focus {
            outline: none;
        }

        button:nth-child(1) {
            border-right: 1px solid #2c3e50;
        }

        button:hover {
            background: #435f7a;
        }
    }

    #frame {
        width: 95%;
        min-width: 360px;
        max-width: 100%;
        height: 92vh;
        min-height: 300px;
        max-height: 100%;
        background: #E6EAEA;
    }

    @media screen and (max-width: 360px) {
        #frame {
            width: 100%;
            height: 100vh;
        }
    }

    #frame #sidepanel {
        float: left;
        min-width: 280px;
        max-width: 340px;
        width: 40%;
        height: 100%;
        background: #2c3e50;
        color: #f5f5f5;
        overflow: hidden;
        position: relative;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel {
            width: 58px;
            min-width: 58px;
        }
    }

    #frame #sidepanel #profile {
        width: 80%;
        margin: 20px auto;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile {
            width: 100%;
            margin: 0 auto;
            padding: 5px 0 0 0;
            background: #32465a;
        }
    }

    #frame #sidepanel #profile .wrap {
        height: 60px;
        overflow: hidden;
        -moz-transition: 0.3s height ease;
        -o-transition: 0.3s height ease;
        -webkit-transition: 0.3s height ease;
        transition: 0.3s height ease;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap {
            height: 55px;
        }
    }

    #frame #sidepanel #profile .wrap img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 3px;
        border: 2px solid #e74c3c;
        float: left;
        cursor: pointer;
        -moz-transition: 0.3s border ease;
        -o-transition: 0.3s border ease;
        -webkit-transition: 0.3s border ease;
        transition: 0.3s border ease;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap img {
            width: 40px;
            height: 40px;
            margin-left: 4px;
        }
    }

    #frame #sidepanel #profile .wrap img.online {
        border: 2px solid #2ecc71;
    }

    #frame #sidepanel #profile .wrap img.away {
        border: 2px solid #f1c40f;
    }

    #frame #sidepanel #profile .wrap img.busy {
        border: 2px solid #e74c3c;
    }

    #frame #sidepanel #profile .wrap img.offline {
        border: 2px solid #95a5a6;
    }

    #frame #sidepanel #profile .wrap p {
        width: 150px;
        height: 20px;
        float: left;
        margin-left: 15px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        white-space: nowrap
    }

    #personal-name{
        position: relative;
        top: 15px;
    }

    #personal-message{
        position: relative;
        top: 15px;
    }

    #frame #sidepanel #profile .wrap #personal-message {
        font-size: 13px;
        color: #cccccc;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap p {
            display: none;
        }
    }

    #frame #sidepanel #profile .wrap i.top-setting-button {
        position: relative;
        bottom: 20px;
        float: right;
        margin-top: 23px;
        font-size: 1.2em;
        cursor: pointer;
        color: #587da0;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap i.top-setting-button {
            display: none;
        }
    }

    #frame #sidepanel #profile .wrap #status-options {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: 150px;
        margin: 70px 0 0 0;
        border-radius: 6px;
        z-index: 99;
        line-height: initial;
        background: #435f7a;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options {
            width: 58px;
            margin-top: 57px;
        }
    }

    #frame #sidepanel #profile .wrap #status-options.active {
        opacity: 1;
        visibility: visible;
        margin: 75px 0 0 0;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options.active {
            margin-top: 62px;
        }
    }

    #frame #sidepanel #profile .wrap #status-options:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid #435f7a;
        margin: -8px 0 0 24px;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options:before {
            margin-left: 23px;
        }
    }

    #frame #sidepanel #profile .wrap #status-options ul {
        overflow: hidden;
        border-radius: 6px;
    }

    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 20px 0 30px 18px;
        display: block;
        cursor: pointer;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options ul li {
            padding: 15px 0 35px 22px;
        }
    }

    #frame #sidepanel #profile .wrap #status-options ul li:hover {
        background: #496886;
    }

    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        position: absolute;
        float: left;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px 0 0 0;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
            width: 14px;
            height: 14px;
        }
    }

    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        margin: -3px 0 0 -3px;
        background: transparent;
        border-radius: 50%;
        z-index: 0;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
            height: 18px;
            width: 18px;
        }
    }

    #frame #sidepanel #profile .wrap #status-options ul li p {
        padding-left: 12px;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #profile .wrap #status-options ul li p {
            display: none;
        }
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
        background: #2ecc71;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
        border: 1px solid #2ecc71;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
        background: #f1c40f;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
        border: 1px solid #f1c40f;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
        background: #e74c3c;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
        border: 1px solid #e74c3c;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
        background: #95a5a6;
    }

    #frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
        border: 1px solid #95a5a6;
    }

    #frame #sidepanel #profile .wrap #expanded {
        padding: 100px 0 0 0;
        display: block;
        line-height: initial !important;
    }

    #frame #sidepanel #profile .wrap #expanded label {
        float: left;
        clear: both;
        margin: 0 8px 5px 0;
        padding: 5px 0;
    }

    #frame #sidepanel #profile .wrap #expanded input {
        border: none;
        margin-bottom: 6px;
        background: #32465a;
        border-radius: 3px;
        color: #f5f5f5;
        padding: 7px;
        width: calc(100% - 43px);
    }

    #frame #sidepanel #profile .wrap #expanded input:focus {
        outline: none;
        background: #435f7a;
    }

    #frame #sidepanel #search {
        border-top: 1px solid #32465a;
        border-bottom: 1px solid #32465a;
        font-weight: 300;
    }

    @media screen and (max-width: 735px) {
        #frame #sidepanel #search {
            display: none;
        }
    }

    #frame #sidepanel #search label {
        position: absolute;
        margin: 10px 0 0 20px;
    }

    #frame #sidepanel #search input {
        padding: 10px 0 10px 46px;
        width: calc(100% - 25px);
        border: none;
        background: #32465a;
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:focus {
        outline: none;
        background: #435f7a;
    }

    #frame #sidepanel #search input::-webkit-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input::-moz-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-ms-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-moz-placeholder {
        color: #f5f5f5;
    }

    #contacts {
        height: calc(100% - 177px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    @media screen and (max-width: 735px) {
        #contacts {
            height: calc(100% - 149px);
            overflow-y: scroll;
            overflow-x: hidden;
        }

        #frame #sidepanel #contacts::-webkit-scrollbar {
            display: none;
        }
    }

    #frame #sidepanel #contacts.expanded {
        height: calc(100% - 334px);
    }

    #frame #sidepanel #contacts::-webkit-scrollbar {
        width: 8px;
        background: #2c3e50;
    }

    #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
        background-color: #243140;
    }

    ul li.contact {
        position: relative;
        height: 60px;
        padding-top: 10px;
        font-size: 0.9em;
        cursor: pointer;
    }

    @media screen and (max-width: 735px) {
        ul li.contact {
            padding-left: 5px;
        }
    }

    ul li.contact:hover {
        background: #32465a;
    }

    ul li.contact.active {
        background: #32465a;
        border-right: 5px solid #435f7a;
    }

    ul li.contact.active span.contact-status {
        border: 2px solid #32465a !important;
    }

    ul li.contact .wrap {
        width: 88%;
        margin: 0 auto;
        position: relative;
    }

    @media screen and (max-width: 735px) {
        ul li.contact .wrap {
            width: 100%;
        }
    }

    ul li.contact .wrap span {
        position: absolute;
        left: 0;
        margin: -2px 0 0 -2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #2c3e50;
        background: #95a5a6;
    }

    ul li.contact .wrap span.online {
        background: #2ecc71;
    }

    ul li.contact .wrap span.away {
        background: #f1c40f;
    }

    ul li.contact .wrap span.busy {
        background: #e74c3c;
    }

    ul li.contact .wrap img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }

    @media screen and (max-width: 735px) {
        ul li.contact .wrap img {
            margin-right: 0px;
        }
    }

    ul li.contact .wrap .meta {
        height: 50px;
    }

    @media screen and (max-width: 735px) {
        ul li.contact .wrap .meta {
            display: none;
        }
    }

    ul li.contact .wrap .meta .name {
        font-weight: 600;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -moz-transition: 1s all ease;
        -o-transition: 1s all ease;
        -webkit-transition: 1s all ease;
        transition: 1s all ease;
    }

    ul li.contact .wrap .meta .preview {
        margin: 5px 0 0 0;
        padding: 0 0 1px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -moz-transition: 1s all ease;
        -o-transition: 1s all ease;
        -webkit-transition: 1s all ease;
        transition: 1s all ease;
    }

    ul li.contact .wrap .meta .preview span {
        position: initial;
        border-radius: initial;
        background: none;
        border: none;
        padding: 0 2px 0 0;
        margin: 0 0 0 1px;
        opacity: .5;
    }

    #frame .content {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    @media screen and (max-width: 735px) {
        #frame .content {
            width: calc(100% - 58px);
            min-width: 300px !important;
        }
    }


    #frame .content .contact-profile {
        width: auto;
        height: 60px;
        line-height: 60px;
        background: #f5f5f5;
    }

    #frame .content .contact-profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 9px;
    }

    #frame .content .contact-profile input {
        float: left;
        position: relative;
        top:13px;
        width:500px;
        height:30px;
        border: none;
        font-size: 16px;
        background: #f5f5f5;
    }

    #frame .content .messages {
        width: auto;
        height: auto;
        min-height: calc(100% - 93px);
        max-height: calc(100% - 48px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    @media screen and (max-width: 735px) {
        #frame .content .messages {
            max-height: calc(100% - 105px);
        }
    }

    #frame .content .messages::-webkit-scrollbar {
        width: 8px;
        background: rgba(0, 0, 0, 0);
    }

    #frame .content .messages::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
    }

    #frame .content .messages ul li {
        display: inline-block;
        clear: both;
        height: auto;
        margin: 15px 15px 5px 15px;
        width: calc(100% - 25px);
        font-size: 0.9em;
    }

    #frame .content .messages ul li:nth-last-child(1) {
        margin-bottom: 20px;
    }

    #frame .content .message-input {
        position: absolute;
        bottom: 0;
        width: inherit;
        z-index: 99;
    }

    #frame .content .message-input span {
        background-color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 98;
        padding: 3px;
    }


    #frame .content .message-input .wrap {
        position: relative;
    }

    .message-input .wrap textarea {
        position: relative;
        float: left;
        border: none;
        width: calc(100% - 170px);
        margin: 0px 10px 0px 10px;
        padding: 10px 8px 0px 8px;
        font-size: 14px;
        color: #32465a;
        border-radius: 20px;
        background-color: #E6EAEA;
        resize: none;
    }

    textarea:focus {
        outline: none;
    }

    textarea::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 735px) {
        #frame .content .message-input .wrap input {
            padding: 15px 32px 16px 8px;
        }
    }

    #frame .content .message-input .wrap input:focus {
        outline: none;
    }

    #frame .content .message-input .wrap button {
        float: left;
        border: none;
        width: 40px;
        padding: 12px 0;
        cursor: pointer;
        background: white;
    }

    .fa-plus {
        color: #a1a3a3;
    }

    .fa-paperclip {
        color: #a1a3a3;
    }

    .fa-user-plus {
        color: #a1a3a3;
    }

    @media screen and (max-width: 735px) {
        #frame .content .message-input .wrap button {
            padding: 16px 0;
        }
    }

    #frame .content .message-input .wrap button:hover {
        background: #E6EAEA;
    }

    #frame .content .message-input .wrap button:focus {
        outline: none;
    }
}