.board{
    position:relative;
    width:400px;
    height:575px;
    background:rgba(255,255,255,1);
	border:1px solid rgba(0,0,0,0.7);
	box-shadow:0px -1px 3px rgba(0,0,0,0.1),
				0px 2px 6px rgba(0,0,0,0.5);
	border-radius:6px;
	margin:10% auto;
	overflow:hidden;
	z-index:100;
}

.title p{
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding: 25px 0px 25px 0px;
    color: #f5f5f5;
    background-color: #567696;
}

.content{
    width: auto;
    height: 510px;
    border-color: rgb(0, 0, 0);
    border-top: 2px solid;
    overflow: scroll;
    background-color: #435d78;
}

.content::-webkit-scrollbar{
    width: 8px;
    background: rgba(0, 0, 0, 0);
}

.content::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.3);
}

#head{
    height: auto;
}

#head button{
    width: 20px;
    height: 20px;
    border-radius: 15%;
    position: relative;
    left: 270px;
}

.fa-plus{
    font-size: 20px;
    color:red;
}

#head img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display:block; 
    margin:auto;
    padding-top: 10px;
}

.text{
    margin-left: 35px;
    border-bottom: 10px;
    font-size: 15px;
    color: white;
}

.input{
    width: 270px;
    margin:5px 16px 10px 16px;
    font-size: 18px;
    border-radius: 20px;
    border: #435d78;
    padding: 5px 10px;
    text-align:center;
    color: white;
    background-color: #435d78;
}

.pencil{
    width: 20px;
    height: 20px;
    border-radius: 15%;
    position: relative;
    left: 20px; 
}

.submit{
    width: 50px;
    height: 30px;
    border-radius: 15%;
    position: relative;
    left: 5px;  
}
